body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.form_section {
	text-align: center;
}

.divOutcomesPlaceholder {
	min-height: 6em;
}

.btn {
	min-width: 11em;
}

.wide {
	min-width: 100%;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.alert {
	display: none;
}

.chartWell {
	
}

.filterWell {
	min-height: 30em;
}

.bottomFooter {
  position: absolute;
  width: 100%;
  height: 10em;
  background-color: #f5f5f5;
  margin-top: 20px;
}

.ui-autocomplete {
    max-height:30em; 
    overflow-x:hidden;
    overflow-y:scroll;
}
/* 
 CHARTS CSS
*/

.chart {
	min-width:100%;	
}

.chart .legend {
  fill: #777;
  font: "Tahoma", Helvetica, Arial, sans-serif;
  text-anchor: start;
  font-size: 1em;
}

.chart text {
  fill: white;
  font: 10px "Tahoma", Helvetica, Arial, sans-serif;;
  text-anchor: end;
}

.chart .label {
  fill: #777;
  font: "Tahoma", Helvetica, Arial, sans-serif;
  text-anchor: end;
  font-size: 1em;
}

.consumerHeader {
	text-align: center;
}

.bar:hover {
  fill: green;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}