body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.content {
	margin-top: 5em;
}

.form_section {
	text-align: center;
}
/* 
 CHARTS CSS
*/

.chart {
	min-width:100%;	
}

.chart .legend {
  fill: #777;
  font: "Tahoma", Helvetica, Arial, sans-serif;
  text-anchor: start;
  font-size: 1em;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.chart .label {
  fill: #777;
  font: "Tahoma", Helvetica, Arial, sans-serif;
  text-anchor: end;
  font-size: 1em;
}

.consumerHeader {
	text-align: center;
}

.bar:hover {
  fill: green;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

